[Unit]
Description=HOMEd Custom Service

[Service]
ExecStart=/usr/bin/homed-Custom
Environment=LD_LIBRARY_PATH=/lib
KillSignal=SIGTERM
Restart=on-failure

[Install]
WantedBy=multi-user.target
